#p1{
    position: absolute;
    margin-left: 200px;
    z-index: 1;
}
#p2{
    position: absolute;
    margin-top:93px;
    margin-left: 347px;
    z-index: 2;
}
.bg  {
    width: 350px;
    height: 380px;
    box-shadow: 0 0 1px rgba(0, 0, 0);
    margin-left: 740px;
	margin-top: 70px;
}
#ins{
    margin-left: 100px;
    margin-top: 150px;
    font-style:unset;
    font-family: cursive;
}
#num{
    margin:10px 10px 10px 60px;
    width: 6cm;
    padding: 8px;
}
#pas{
    margin:10px 10px 10px 60px;
    width: 6cm;
    padding: 8px;
}
#voiti{
    margin:10px 10px 10px 60px;
    width: 6.5cm;
    padding: 8px;
    color:white;
    background-color:rgb(30, 169, 204);
    border-color: rgb(33, 155, 192);
    border-style:ridge;
    border-radius: 4px;
}
#line{
    margin:10px 10px 10px 60px;
    width: 6cm;
    padding: 8px;
}
#fb{
    margin:-35px 10px 10px 120px;
    width: 6cm;
    padding: 4px;
}
a{
    text-decoration: none;   
}
#lg{
    margin:10px 10px 10px 92px;
}
#fg{
    margin:20px 10px 10px 135px;
}
.bg2{
    width: 350px;
    height: 80px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    margin-left: 740px;
	margin-top: 10px;
}
#app{
    margin-top: 1cm;
    margin-left: 20cm;
}
#cr{
    margin-left: 40px;
}
.pk{
    text-align: center;
    overflow: visible;
    margin-top: 5cm;
}